### macOS template
.DS_Store

### python
__pycache__/

# IntelliJ project files
.idea/*

### VisualStudioCode template
.vscode/*

### bigfile
*.sqlite
tagtool/statics/
*.out
*.log

.user.ini
start.ini